*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

section{
    cursor: pointer;
}

header{
    width: 100%;
    height: 14vh;
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    align-items: center;
    color: white;
}

.wrapper{
    display: flex;
    gap: 20px;
}

.box{
}

.box .img{
    width: 60px;
    height: 60px;
    /* border-style: solid;
    border-width: 5px ;
    border-image: linear-gradient(45deg, rgb(143, 0, 0), rgb(250,224,66)) 1;
    border-image-outset: 2px; */
    margin-left: 6px;
    margin-bottom: 4px;
}

.box .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.box .text{
    width: 80px;
}
.box .text p{
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}

/* header end */

/* content start */

.content{
    width: 100%;
    min-height: 130vh;
    background-color:transparent ;
    color: white;
}

.content .h2{
    padding: 20px 0 30px 0;
}

.card-item{
    max-width: 420px;
    min-height: 420px;
    background-color: transparent;
    position: relative;
}

.card-header{
    display: flex;
    justify-content: space-between;
    padding: 0 5px 20px 0;
    padding-right:20px;
    align-items: center;
    width:100% ;
    height: 40px;
    background-color:transparent;
}

.card-hover{
    display: flex;
    align-items: center;
    gap: 4px;
    overflow: hidden;
}

.card-hover p{
    color: rgb(18, 18, 197);
    font-weight: bold;
}

.card-hover img{
    width: 40px;
    border-radius: 50%;
}

.card-hover .overlay{
    width: 380px;
    margin: 40px 6px;
    height:310px ;
    position: absolute;
    bottom:200%;
    left:0;
    top:;
    background-color: black;
    text-align: center;
    transition: all 300ms;
    color: white;
    font-size: 12px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    animation: 900ms all;
}

.card-hover:hover .overlay{
    bottom:  0;
    top: -10px;
}
.card-hover .overlay .top{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
    height: 10vh;
    font-size: 20px;
    align-items: center;
    gap: 10px;
}

.card-hover .overlay .top p{
    color: white;
} 

.card-hover .overlay .top img{
    width: 70px;
}

.card-hover .overlay .center{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.card-hover .overlay .img{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-hover .overlay .img img{
    width: 130px;
    height: 120px;
   border-radius: inherit;
}

.card-hover .overlay .footer{
    width: 95%;
    margin: 10px auto;
}

.card-hover .overlay .footer .input{
    width: 100%;
    height: 30px;
    background-color: rgb(54, 89, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.card-center{
    width: 400px;
    height: 400px;
}
.card-center img{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(192, 192, 192, 0.39);
}

.card-center .card-top {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.card-center p{
    font-size: 14px;
}